@import '_variables.css';


.aside {
  margin-bottom: var(--paragraph-height-copy);
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (--device-mobile-wide) {
    width: 29.8em;
  }
  @media (--device-tablet-tall) {
    padding-left: 1rem;
    width: 17em;
  }
  @media (--device-laptop) {
    padding-left: 2rem;
  }
  @media (--device-desktop-full) {
    width: 25em;
  }

  img {
    filter: var(--filter-red);
    padding-top: 0.333rem;
  }
}
