@import '_variables.css';


/**
 * Footer
 */

/* footer */
.footer {
  text-align: right;
  width: 100%;
}

/* brand */
.brand {
  color: black;
}

/* link */
.link {
  color: var(--color-white);
  text-decoration: none;

  img {
    width: 12rem;

    @media (--device-tablet-tall) {
      width: 13rem;
    }
    @media (--device-laptop) {
      width: 14rem;
    }
    @media (--device-desktop-wide) {
      width: 15rem;
    }
  }
}

/* legal */
.legal {
  color: var(--color-grey);
  font-size: var(--font-size-8);
  margin-top: 0.222rem;
}
