@import '_variables.css';


/**
 * Footer
 */

/* footer */
.footer {
  background-color: var(--color-site-white);
  text-align: right;
  width: 100%;
}

/* legal */
.legal {
  font-size: var(--font-size-7);
  color: gray;
}

/* brand */
.brand {
  color: black;
}

/* link */
.link {
  color: var(--color-site-white);
  text-decoration: none;
}

/* logo */
.logo {
  width: 10rem;

  @media (--device-tablet-tall) {
    width: 11rem;
  }
  @media (--device-laptop) {
    width: 12rem;
  }
  @media (--device-desktop-wide) {
    width: 14rem;
  }
}
