@import '_variables.css';


.header {
  /* a */
}

.subheader {
  color: var(--color-grey);
  font-size: var(--font-size-7);
  line-height: 2;
  margin-bottom: 1rem;
  max-width: var(--measure-wide);

  > div {
    display: inline;
    margin-right: 1.5rem;

    @media (--device-laptop) {
      display: block;
      margin: 0;
    }
  }
}
