@import '_variables.css';
@import-normalize;


/**
 * Global Styles
 */

:global :root {
  background-color: var(--color-site-white);
  font-size: 15px;
}


/**
 * Layout Styles
 */

/* layout */
.layout {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: var(--font-copy);
  font-weight: normal;
  letter-spacing: 0.015rem;
  margin: 1.5rem 0;

  @media (--device-tablet-tall) {
    margin: 2rem 0;
  }
  @media (--device-tablet-wide) {
    margin: 2.5rem 0;
  }
  @media (--device-laptop) {
    flex-direction: row;
    justify-content: center;
    margin: 3rem 0;
  }
  @media (--device-desktop) {
    margin: 3.5rem 0;
  }
  @media (--device-desktop-wide) {
    margin: 4rem 0;
  }
  @media (--device-desktop-full) {
    margin: 4.5rem 0;
  }
}

/* header */
.header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (--device-mobile-wide) {
    width: var(--measure);
  }
  @media (--device-tablet-tall) {
    width: 39rem;
  }
  @media (--device-tablet-wide) {
    width: 49rem;
  }
  @media (--device-laptop) {
    hyphens: auto;
    margin-left: inherit;
    margin-right: inherit;
    overflow-wrap: break-word;
    /* text-align: right; */
    width: 14rem;
    word-break: break-word;
    word-spacing: 100vw; /* force wrap every word */
    word-wrap: break-word;
  }
  @media (--device-desktop-wide) {
    width: 15.5rem;
  }
}

/* content */
.content {
  width: 100%;

  @media (--device-mobile-wide) {
    margin-left: auto;
    margin-right: auto;
    width: var(--measure);
  }
  @media (--device-tablet-tall) {
    width: 39rem;
  }
  @media (--device-tablet-wide) {
    width: 49rem;
  }
  @media (--device-laptop) {
    margin-left: 2.5rem;
    margin-right: inherit;
    width: auto;
  }
  @media (--device-desktop-wide) {
    margin-left: 2.75rem;
  }
}

/* main */
.main {
  /* margin: 0.5rem; */
}

/* footer */
.footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;

  @media (--device-mobile-wide) {
    padding-right: 0.1rem;
    width: var(--measure);
  }
  @media (--device-tablet-tall) {
    margin-top: 2rem;
    width: 39rem;
    padding-right: 0.2rem;
  }
  @media (--device-tablet-wide) {
    width: 49rem;
  }
  @media (--device-laptop) {
    margin-top: 3rem;
    width: 100%;
  }
}
