@import '_variables.css';
@import-normalize;


/**
 * Global Styles
 */

:global :root {
  background-color: var(--color-site-white);
}


/**
 * Layout Styles
 */

/* layout */
.layout {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: var(--font-copy);
  font-weight: normal;
  letter-spacing: 0.02rem;
  margin-top: 1rem;

  @media (--device-tablet-tall) {
    margin-top: 1.5rem;
  }
  @media (--device-tablet-wide) {
    margin-top: 2rem;
  }
  @media (--device-laptop) {
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5rem;
  }
  @media (--device-desktop) {
    margin-top: 3rem;
  }
  @media (--device-desktop-wide) {
    margin-top: 3.5rem;
  }
  @media (--device-desktop-full) {
    margin-top: 4rem;
  }
}

/* header */
.header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (--device-mobile-wide) {
    width: var(--measure);
  }
  @media (--device-tablet-tall) {
    width: 39rem;
  }
  @media (--device-tablet-wide) {
    width: 49rem;
  }
  @media (--device-laptop) {
    margin-left: inherit;
    margin-right: inherit;
    width: 18rem;
    word-spacing: 100vw;  /* wrap every word */
  }
}

/* content */
.content {
  margin-bottom: 8rem;
  width: 100%;

  @media (--device-mobile-wide) {
    margin-left: auto;
    margin-right: auto;
    width: var(--measure);
  }
  @media (--device-tablet-tall) {
    width: 39rem;
  }
  @media (--device-tablet-wide) {
    width: 49rem;
  }
  @media (--device-laptop) {
    margin-left: inherit;
    margin-right: inherit;
    width: auto;
  }
}

/* main */
.main {
  /* margin: 0.5rem; */
}

/* footer */
.footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;

  @media (--device-mobile-wide) {
    padding-right: 0.1rem;
    width: var(--measure);
  }
  @media (--device-tablet-tall) {
    margin-top: 2rem;
    width: 39rem;
    padding-right: 0.2rem;
  }
  @media (--device-tablet-wide) {
    width: 49rem;
  }
  @media (--device-laptop) {
    margin-top: 3rem;
    width: 100%;
  }
}
