@import '_variables.css';


.paragraph {
  line-height: var(--line-height-copy);
  margin-bottom: var(--paragraph-height-copy);
  margin-top: 0;
  max-width: var(--measure-wide);
  padding: 0;

  /* first paragraph dropcaps */
  &:first-child:first-letter {
    color: var(--color-red);
    float: left;
    font-family: Cinzel, serif;
    font-size: 5.25rem;
    line-height: 3.1rem; /* chrome */
    margin: 0;
    margin-top: 0.4rem;
    padding: 0;
    padding-right: 0.6rem;
  }
}
