@import '_variables.css';


.preformat {
  font-size: calc((var(--font-size-6) + var(--font-size-7)) / 2) !important;
  margin-bottom: var(--paragraph-height-copy);
  max-width: var(--measure-wide);
}
