@import '_variables.css';


.table {
  border-bottom: 2px solid #666;
  border-collapse: collapse;
  font-size: var(--font-size-6);
  line-height: var(--line-height-copy);
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--measure-wide);
}
.table + small {
  margin-top: 0.5rem;
  display: block;
  line-height: var(--line-height-copy);
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--measure-wide);
}
